.account_main {
  padding: 6.667rem 11.25rem 11.667rem; /* 80px / 12px, 135px / 12px, 140px / 12px */
}

.account_child {
  max-width: 97.5rem; /* 1170px / 12px */
  display: flex;
  gap: 8.333rem; /* 100px / 12px */
}

.account_form {
  flex: 1;
  padding: 3.333rem 6.667rem; /* 40px / 12px and 80px / 12px */
}

.account_form_container {
  display: flex;
  flex-direction: column;
  gap: 1.333rem; /* 16px / 12px */
}

.form_head {
  color: #db4444;
  font-size: 1.667rem; /* 20px / 12px */
  font-weight: 500;
  margin-bottom: 1.333rem; /* 16px / 12px */
}

.generalInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 24px / 12px */
  margin-bottom: 0.667rem; /* 8px / 12px */
}

.generalInfo_child {
  gap: 4.167rem; /* 50px / 12px */
  display: flex;
}

.passwordInfo {
  display: flex;
  flex-direction: column;
  gap: 1.333rem; /* 16px / 12px */
}

.formField {
  width: 100%;
  font-size: 1.333rem; /* 16px / 12px */
  display: flex;
  flex-direction: column;
  gap: 0.667rem; /* 8px / 12px */
}

input {
  padding: 1.083rem; /* 13px / 12px */
  background-color: #f5f5f5;
  border: none;
}

.error {
  color: #db4444;
  font-size: 1rem; 
}

.form_button {
  display: flex;
  justify-content: end;
  gap: 2.667rem; /* 32px / 12px */
  align-items: center;
  font-size: 1.333rem; /* 16px / 12px */
  margin-top: 0.667rem; /* 8px / 12px */
}

.sectionTitle {
  font-weight: 500;
  margin-bottom: 0.833rem; /* 10px / 12px */
}

.listItem {
  font-size: 1.333rem; /* 16px / 12px */
  display: flex;
  flex-direction: column;
  gap: 0.667rem; /* 8px / 12px */
  cursor: pointer;
}

.activeItem {
  color: #db4444;
}

.inactiveItem {
  color: #b0b0b0;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  gap: 1.333rem; /* 16px / 12px */
}

.list {
  list-style: none;
}

.breadcrumb_account {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 6.667rem; /* 80px / 12px */
}

.account_name span {
  color: #db4444;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .account_main {
    padding: 2.683rem;
  }

  .account_child {
    flex-direction: column;
    gap: 2rem;
  }

  .account_form {
    padding: 2rem 1rem; /* Reduce padding */
  }

  .generalInfo_child {
    flex-direction: column;
    gap: 1.333rem;
  }

  .form_button {
    /* justify-content: center;   */
    gap: 1.333rem;
  }

  .breadcrumb_account {
    margin-bottom: 2.683rem;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .account_main {
    padding: 5.25rem;
  }

  .account_form {
    padding: 0;
  }
}

@media (min-device-width: 1024px) and (max-width: 1224px) {
  .account_main {
    padding: 4.5rem;
  }

  .account_form {
    padding: 0;
  }
}
