.aboutAchiSec_main {
  display: flex;
  padding: 5.833rem 11.25rem 5.833rem; /* 70px / 12px and 135px / 12px */
  justify-content: center;
}

.aboutAchiSec_child {
  display: flex;
  gap: 2.5rem; /* 30px / 12px */
  flex-wrap: wrap;
}

.aboutAchiSec_card {
  flex: 1;
  padding: 2.5rem 2.333rem; /* 30px / 12px and 28px / 12px */
  border: 0.083rem solid #0000004d; /* 1px / 12px */
  border-radius: 0.333rem; /* 4px / 12px */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* 12px / 12px */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.aboutAchiSec_card:hover {
  box-shadow: 0 0.167rem 0.833rem 0.167rem rgba(0, 0, 0, 0.2); /* 2px / 12px and 10px / 12px */
  background-color: #db4444;
  color: #fff;
}

.aboutAchiSec_card:hover .aboutAchiSec_card_icon_border2 {
  background-color: #fff;
  border-color: #fff;
}

.aboutAchiSec_card:hover .icon {
  color: #000;
}

.icon {
  width: 3.333rem; /* 40px / 12px */
  height: 3.333rem; /* 40px / 12px */
  color: #fff;
}

.aboutAchiSec_card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; /* 12px / 12px */
}

.aboutAchiSec_card_icon_border2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 4.167rem; /* 50px / 12px */
  padding: 0.167rem; /* 2px / 12px */
  border: 0.167rem solid #000; /* 2px / 12px */
}

.aboutAchiSec_card_icon_border1 {
  border: 0.417rem solid #c1c1c1; /* 5px / 12px */
  border-radius: 4.167rem; /* 50px / 12px */
}

.aboutAchiSec_card_num {
  font-family: "Inter", sans-serif;
  font-size: 2.667rem; /* 32px / 12px */
  font-weight: 700;
}

.aboutAchiSec_card_text {
  text-align: center;
  font-size: 1.333rem; /* 16px / 12px */
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .aboutAchiSec_main {
    padding: 2.683rem;
  }

  .aboutAchiSec_card {
    padding: 4rem;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .aboutAchiSec_main {
    padding-top: 0;
    padding: 5.25rem;
  }

  .aboutAchiSec_child{
    flex-wrap: wrap;
    /* min-width: 917px; */
  }

  .aboutAchiSec_card {
    flex: 1 23%;
    /* flex-wrap: wrap; */
    padding: 4rem;
  }
}

@media (min-device-width: 1024px) and (max-width: 1224px) {
  .aboutAchiSec_main {
    /* padding-top: 0; */
    padding: 4.5rem;
  }
}
