.aboutStorySec_main {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-top: 6.667rem; /* 80px / 12px */
  margin-bottom: 5.833rem; /* 70px / 12px */
}

.aboutStorySec_left_child {
  display: flex;
  flex-direction: column;
  gap: 3.333rem; /* 40px / 12px */
}

.aboutStorySec_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.aboutStorySec_head {
  font-size: 4.5rem; /* 54px / 12px */
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.aboutStorySec_para {
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 24px / 12px */
}

.aboutStorySec_right img {
  width: 100%;
}

.breadcrumb_about {
  text-transform: capitalize;
  margin: 6.667rem 0 0 11.25rem; /* 80px / 12px and 135px / 12px */
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .aboutStorySec_main {
    width: 100%;
    flex-direction: column;
    padding: 2.683rem;
    gap: 2.33rem;
  }

  .aboutStorySec_left {
    width: 100%;
  }

  .aboutStorySec_left_child {
    width: 100%;
    gap: 1.333rem;
  }

  .breadcrumb_about {
    text-transform: capitalize;
    margin: 6.667rem 0 0 2.683rem;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .aboutStorySec_main {
    width: 100%;
    /* flex-direction: column; */
    padding: 0 5.25rem;
    gap: 2.33rem;

    justify-content: end;
  }

  .aboutStorySec_left {
    /* width: 100%; */
    flex: 1;
  }

  .aboutStorySec_left_child {
    width: 100%;
    gap: 1.333rem;
  }

  .aboutStorySec_right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .breadcrumb_about {
    text-transform: capitalize;
    margin: 5.25rem;
  }
}

@media (min-device-width: 1024px) and (max-width: 1224px) {
  .aboutStorySec_main {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* padding-top: ; */
    padding: 6.667rem 0 0 4.5rem;
    margin-bottom: 5.833rem;
  }

  .aboutStorySec_left_child {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 3.333rem; /* 40px / 12px */
  }

  .aboutStorySec_left {
    flex-direction: row;
    justify-content: start;
  }

  .aboutStorySec_right {
    flex: 1;
  }

  .breadcrumb_about {
    margin: 6.667rem 0 0 4.5rem;
  }
}
