.main {
  /* display: flex; */
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navStrip {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: end;
  /* align-items: center; */
  padding: 1rem 0; /* 12px 136px 12px 0 */
}

.navStripText {
  /* margin-left: 14.4167rem; */
  /* width: 68%; */
  padding-right: 136px;
  display: flex;
  gap: 19.25rem;
  /* /* justify-content: space-around; */
}

.stripText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1667rem; /* 14px */
  font-weight: 400;
}

.stripText span {
  font-weight: 600;
  padding-left: 0.6667rem; /* 8px */
  text-decoration: underline;
}

.navMain {
  background-color: #ffffff;
  display: flex;
  padding: 3.3333rem 0 1.3333rem; /* 40px 0 16px */
  justify-content: center;
  border-bottom: 0.5px solid #0000002b;
}

.navChild {
  max-width: 1170px;
  display: flex;
  width: 81%;
  justify-content: space-between;
}

.navLeft {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  font-family: "Inter", sans-serif;
  font-size: 2rem; /* 24px */
  font-weight: 700;
}

.navLinks {
  display: flex;
  gap: 4rem; /* 48px */
  font-size: 1.3333rem; /* 16px */
}

.navRight {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
  gap: 24px;
  /* display: flex; */
}

.searchbar {
  display: flex;
}

.searchbar input {
  max-width: 17.5833rem;
  background-color: #f5f5f5;
  padding: 0.8333rem 1.6667rem; /* 10px 20px */
  border: none;
  font-size: 1rem; /* 12px */
  font-weight: 400;
  outline: none;
}

.searchbar img {
  background-color: #f5f5f5;
  padding: 5px;
}

.navIcons {
  display: flex;
  gap: 16px;
}

.navActive {
  line-height: 24px;
  text-decoration: underline;
  text-underline-offset: 7px;
}

.drawer_listItem_active {
  color: #f00; /* Active color for drawer items */
  font-weight: bold;
}

.navIcons_cart {
  position: relative;
}

.navIcons_cart_count {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #db4444;
  color: #fff;
  padding: 5px;
  border-radius: 100%;
}

.hamburgerIcon {
  display: none;
}

.drawerList {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drawerList .MuiButtonBase-root {
  text-align: center;
}

.drawer_listItem {
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}

.drawer_listItem:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.drawer_listItem_greet {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  transition: background-color 0.3s ease;
  color: #db4444;
}
.dropdownMenu {
  position: absolute;
  top: 30px;
  right: 0;
  background: rgba(51, 51, 51, 0.7);
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 240px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  opacity: 1;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  color: #fff;
  padding: 12px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.dropdownMenu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdownMenu li svg {
  width: 20px;
  height: 20px;
  color: white;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .navMain {
    padding: 1rem;
  }

  .navChild {
    width: 100%;
  }

  .navLinks {
    display: none;
  }

  .navRight {
    display: none;
  }

  .navStrip {
    justify-content: center;
    padding: 1rem 0; /* 12px 136px 12px 0 */
  }

  .navStripText {
    padding-right: 0;
    display: flex;
    gap: 1rem;
  }

  .stripText {
    font-size: 1.2rem; /* 14px */
  }

  .stripText span {
    display: none;
  }

  .stripDrpdwn {
    display: none;
  }

  .hamburgerIcon {
    display: block;
    margin-right: -8px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .navMain {
    padding: 1rem 5.25rem; /* 40px 0 16px */
  }

  .navChild {
    width: 100%;
  }

  .navLinks {
    display: none;
  }

  .searchbar {
  }

  .navIcons {
    display: none;
  }

  .navStrip {
    justify-content: center;
    padding: 1rem 0; /* 12px 136px 12px 0 */
  }

  .navStripText {
    padding-right: 0;
    display: flex;
    gap: 1rem;
  }

  .stripText {
    font-size: 1.2rem; /* 14px */
  }

  .stripText span {
    display: none;
  }

  .stripDrpdwn {
    display: none;
  }

  .hamburgerIcon {
    display: block;
    margin-right: -8px;
  }
}

@media (min-device-width: 1024px) and (max-width: 1224px) {
  .navStripText {
    padding-right: 60px;
  }

  .navChild {
    width: 90%;
  }
}
