.LASec_main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.833rem 11.25rem;
}

.LASec_child {
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;

  gap: 5rem;
}

.LASec_images {
  display: flex;
  gap: 2.5rem;
  width: 100%;
}

.LASec_images img {
  cursor: pointer;
}

.LASec_images_left {
  width: 48.5%;
}

.LASec_images_left img {
  width: 100%;
}

.LASec_images_right {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.LASec_images_right_top img {
  width: 100%;
}

.LASec_images_right_btm {
  display: flex;
  gap: 2.5rem;
}

.LASec_images_right_btm img {
  width: 47%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .LASec_main {
    padding: 2.833rem 1.25rem;
  }

  .LASec_images {
    gap: 2.5rem;
  }

  .LASec_images_right {
    gap: 1.5rem;
  }

  .LASec_images_right_btm {
    gap: 1.5rem;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .LASec_main {
    padding: 5.25rem;
    padding-top: 0;
  }

  .LASec_images {
    gap: 2.5rem;
  }

  .LASec_images_right {
    gap: 2.8rem;
  }

  .LASec_images_right_btm {
    gap: 1.5rem;
  }
}

@media (min-device-width: 1024px) and (max-width: 1224px) {
  .LASec_main {
    padding: 0rem 4.5rem;
  }
}
