.sectionH_main {
  display: flex;
  flex-direction: column;
  gap: 1.0833rem;
}

.sectionH_top {
  justify-content: start;
  display: flex;
  gap: 0.8333rem;
  align-items: center;
}

.secH_top_bar {
  margin-left: -0.6667rem;
  background-color: #db4444;
  transform: rotate(90deg);
  /* width: 20px; */
  padding: 0.8333rem 1.6667rem;
  border-radius: 0.3333rem;
  border: 1px solid #db4444;
}

.secH_top_text {
  color: #db4444;
  font-size: 1.3333rem;
  font-weight: 600;
}

.sectionH_btm {
  display: flex;
  gap: 7.25rem;
  align-items: end;
}

.secH_btm_text {
  font-size: 3rem;
  font-weight: 600;
}

.secH_btm_timer {
  display: flex;
  flex-direction: column;
}

.secH_timer {
  display: flex;
  gap: 1.8333rem;
  align-items: end;
  font-size: 2.6667rem;
  color: #e07575;
  /* flex-direction: column; */
}

.secH_timer_text {
  font-size: 1rem;
  font-weight: 500;
}

.secH_timer_time {
  color: #000;
  align-items: start;
  flex-direction: column;
  display: flex;
  /* gap: 23px; */
  font-size: 2.6667rem;
  font-weight: 700;
}

@media screen and (min-device-width: 320px) and (max-device-width: 573px){
  .secH_btm_timer{
    display: none;
  }
} 

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .secH_btm_text {
    font-size: 2.4rem;
    font-weight: 600;
  }
}
