.LSSec_main {
  display: flex;
  justify-content: center;
  padding: 0.833rem 11.25rem 0; /* (10px / 12px) and (135px / 12px) */
}

.LSSec_child {
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  gap: 5rem; /* 60px / 12px */
}

.LSSec_sectionHead {
  max-width: 97.5rem; /* 1170px / 12px */
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.LSSec_productCards {
  max-width: 97.5rem; /* 1170px / 12px */
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem; /* 30px / 12px */
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .LSSec_main {
    padding: 1.25rem;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .LSSec_main {
    padding: 5.25rem;
    padding-bottom: 0;
  }
}

@media (min-device-width: 1024px) and (max-width: 1224px) {
  .LSSec_main {
    padding: 0.833rem 4.25rem 0;
  }

  .LSSec_productCards {
    gap: 1rem;
  }
}
