.productDetail_main {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  width: 100%;
  padding: 181px 135px 140px;
  /* max-width: 1170px; */
}

.productDetail_child {
  max-width: 1170px;
  width: 100%;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.productDetail_gallery {
  flex: 2;
}

.productDetail_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.productDetail_details_top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.productDetail_details_head {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  /* margin-bottom: 10px; */
}

.productDetail_details_rating {
  display: flex;
  /* align-items: center; */
  /* gap: 8px; */
  font-size: 16px;
  color: #ffad33;
  /* margin-bottom: 8px; */
}

.productDetail_details_rating span {
  font-size: 14px;
  color: #c1c1c1;
  margin-left: 8px;
}

.details_rating_stock {
  color: #00ff66 !important;
}

.productDetail_details_price {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}

.productDetail_details_desc {
  font-size: 14px;
  text-align: start;
  text-transform: capitalize;
}

.productDetail_details_divider {
  width: 100%;
  height: 2px;
  background-color: #c1c1c1;
  /* margin-bottom: 24px; */
}

.productDetail_details_btm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.productDetail_details_color {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.productDetail_details_color_circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
}

.productDetail_details_color_circle:nth-child(1) {
  background-color: #a0bce0;
}

.productDetail_details_color_circle:nth-child(2) {
  background-color: #e07575;
}

.productDetail_details_size {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.productDetail_details_size_button {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  cursor: pointer;
}

.productDetail_details_button {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.productDetail_details_button_child1 {
  display: flex;
  flex: 1;
}

.productDetail_details_button_minus {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #c1c1c1;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  text-align: center;
}

.productDetail_details_button_plus {
  text-align: center;
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #c1c1c1;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.productDetail_details_button_plus:hover,
.productDetail_details_button_minus:hover,
.productDetail_details_size_button:hover {
  background-color: #db4444;
  color: #fff;
}

.productDetail_details_button_number {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #c1c1c1;
  border-left: none;
  text-align: center;
  border-right: none;
}

.productDetail_details_button_heart {
  font-size: 24px;
  border: 1px solid #c1c1c1;
  padding: 2px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.productDetail_details_features {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
  border: 1px solid #c1c1c1;
  border-radius: 4px;
}

.productDetail_details_features_top {
  padding: 20px 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  border-bottom: 1px solid #c1c1c1;
  /* margin-bottom: 10px; */
  /* border-bottom: 1px solid black; */
}

.productDetail_details_features_btm {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px 20px 16px;
}

.productDetail_details_features_top_icon,
.productDetail_details_features_btm_icon {
  font-size: 30px;
  /* margin-right: 10px; */
}

.productDetail_details_features_top_content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.productDetail_details_features_top_text,
.productDetail_details_features_btm_text {
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}

.productDetail_details_features_top_info,
.productDetail_details_features_btm_info {
  font-size: 12px;
  /* color: #666; */
}

.productDetail_suggestion {
  background-color: #fff;
  margin-top: 70px;
}

.productDetail_suggestion_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.productDetail_suggestion_text {
  font-size: 20px;
}

.productDetail_suggestion_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
