.SignUpSec_main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5rem 0 11.667rem; /* 60px / 12px and 140px / 12px */
}

.SignUpSec_child {
  width: 100%;
  max-width: 1440px;
  display: flex;
}

.SignUpSec_img {
  width: 50%;
}

.SignUpSec_img img {
  width: 100%;
}

.SignUpSec_form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .SignUpSec_main {
    width: 100%;
    padding: 20rem 2.683rem;
  }

  .SignUpSec_child {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .SignUpSec_img {
    display: none;
    /* width: 100%; */
  }

  .SignUpSec_form {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .SignUpSec_main {
    padding: 5rem 2rem;
  }

  .SignUpSec_child {
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }

  .SignUpSec_img {
    /* display: ; */
    width: 50%;
    flex: 1;
    /* display: block; */
  }

  .SignUpSec_form {
    flex: 1;
    /* width: 50%; */
  }
}

@media (min-width: 1440px) {
  .SignUpSec_main {
    /* padding: 0px 135px 0px 0px; */
    /* display: flex; */
    /* justify-content: center; */
  }
}
