.loader_main {
  width: 100vh;
  margin: auto;
}

.loader {
  margin: auto;
  width: 50vh;
  height: 100vh;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .loader_main {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    width: 100%;
    height: 80vh;
  }
}
